[Unit]
Description = Backend Service

[Service]
User=expense
Environment=DB_HOST="network-online.target"
ExecStart=/usr/bin/amazon-ssm-agent
SyslogIdentifier=backend

[Install]
WantedBy=multi-user.target